/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.caution
  background-color #fec4d2
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  .title 
    font-weight bold

.suggestion
  background-color #dbffda
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  .title 
    font-weight bold

.easydef
  background-color #fdfde9
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  .title 
    font-weight bold

.harddef
  background-color #ebf4f4
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  .title 
    font-weight bold

.example
  background-color #9ca2c4
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  .title 
    font-weight bold

.rule
  background-color #e9d282
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  .title 
    font-weight bold

.info
  background-color #eed8fd
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  .title 
    font-weight bold